.checkbox {
  --checkbox-stroke: var(--blue);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.5rem;
  width: 1.5rem;

  cursor: pointer;
  position: relative;
}

.checkbox:hover {
  --checkbox-stroke: var(--blue-dark);
  --checkbox-background: rgb(from var(--blue-dark) r g b / 0.2);
}

.checkbox:has(input:checked) {
  --checkbox-stroke: var(--purple-dark);
  --checkbox-background: var(--purple-dark);
}

.checkbox:has(input:checked):hover {
  --checkbox-stroke: var(--purple);
  --checkbox-background: var(--purple);
}

.checkbox img {
  visibility: hidden;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.checkbox:has(input:checked) img {
  visibility: visible;
}

.checkbox::before {
  content: "";

  box-shadow: 0 0 0 2px var(--checkbox-stroke);
  background-color: var(--checkbox-background);
  border-radius: 50%;

  display: block;

  height: 1rem;
  width: 1rem;
}
